body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/1200px-Utoronto_coa.svg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40%;
}