body{
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/1200px-Utoronto_coa.svg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40%;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.post{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.post > .description{
    margin: .25rem;
}

.post > .tags{
    font-size: .8rem;
    color: #777
}

.hide{
    display: none;
}
